@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-text-muted overflow-x-hidden
  }
}

.liga-off {
  font-feature-settings: 'liga' off;
}

.myHtml span {
  padding: 3px 9.969px 4.188px 8px;
  margin-left: 12px;
  border-radius: 2px;
  background: rgba(41, 151, 249, 0.50);
}